* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.player-container {
  margin: 100px auto;
  padding: 100px 0;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f4f4f4;
}

.player-container .player-board-container {
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  background: lightskyblue;
}

.player-container .player-board-container .row {
  display: grid;
  grid-template-columns: repeat(10, auto);
  height: 30px;
  width: 30px;
}

.player-container .player-board-container .row .col {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.player-container .player-board-container .row .col:hover {
  cursor: pointer;
  /* background: lightcoral; */
}


/* Features to add */
/* - toggle between adding ships UI and log of all previous moves */

/* SHIPS CONTAINER */
.player-container .player-ships-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background: #e0e0e0;
  font-size: 0.8rem;
}

/* Orientation Container */
.player-container .player-ships-container .orientation-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
}

.player-container .player-ships-container .orientation-container .orientation-btn {
  background: rgb(38, 110, 192);
  color: white;
  padding: 0.15rem 0.4rem;
  border-radius: 2px;
  border: 1px solid rgb(38, 110, 192);
  width: 80px;
  text-align: center;
  margin: 0 0.4rem;
}

.player-container .player-ships-container .orientation-container .orientation-btn.orientation-selected {
  border: 4px solid #3f3f3f;
  border-radius: 2px;
}

.player-container .player-ships-container .orientation-container .orientation-btn:hover {
  cursor: pointer;
  /* background-color: #f4f4f4;
  color:rgb(38, 153, 192); */
}


/* Ships Displays */
.player-container .player-ships-container .ships-display {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.player-container .player-ships-container .ships-display .ship {
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  font-weight: 500;
  background: lightcoral;
  margin: 0.2rem;
  border-radius: 2px;
  border: 1px solid lightcoral;
  color: white;
}

.player-container .player-ships-container .ships-display .ship:hover {
  cursor: pointer;
  background: #f4f4f4;
  color: lightcoral
}

.player-container .player-ships-container .ships-display .ship.ship-selected {
  background: #f4f4f4;
  color: lightcoral
}


/* SHIP PLACEMENT ON BOARD */
.ship-placement-selected {
  background: slategray !important;
}
