* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom right, rgb(0, 204, 255), rgb(0, 153, 133));
}

.main-container {
  margin: 60px auto;
  padding: 30px 0 60px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 750px;
  align-items: center;
  background: #aaaaaa;
  box-shadow: 5px 5px 15px;
}

h3 {
  margin-bottom: 0.3rem;
}

/* title for board */
.board-title {
  position: relative;
  left: -116px;
}


/* Computer Board */
.main-container .computer-board-container {
  margin-bottom: 30px;
  pointer-events: none;
}

.main-container .computer-board-container .computer-row .computer-col:hover {
  background: lightseagreen !important;
  cursor: pointer;
}



/* Player Board w/ Computer Board styles */
.main-container .player-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .player-board-container,
.main-container .computer-board-container {
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  background: lightskyblue;
  text-align: center;
}

.main-container .player-board-container .player-row,
.main-container .computer-board-container .computer-row {
  display: grid;
  grid-template-columns: repeat(10, auto);
  height: 30px;
  width: 30px;
}

.main-container .player-board-container .player-row .player-col,
.main-container .computer-board-container .computer-row .computer-col {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.main-container .player-board-container .player-row .player-col:hover {
  cursor: pointer;
}


/* SHIPS CONTAINER */
.main-container .player-ships-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 200px;
  width: 200px;
  box-shadow: 2px 2px 7px;
  background: #4e4e4e;
  font-size: 0.8rem;
  align-items: center;
}

/* Orientation Container */
.main-container .player-ships-container .orientation-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
}

.main-container .player-ships-container .orientation-container .orientation-btn {
  background: rgb(42, 122, 212);
  color: white;
  padding: 0.15rem 0.4rem;
  border-radius: 2px;
  border: 1px solid rgb(38, 110, 192);
  width: 80px;
  text-align: center;
  margin: 0 0.4rem;
  font-weight: 300;
}

.main-container .player-ships-container .orientation-container .orientation-btn.orientation-selected {
  border: 3px solid #f4f4f4;
  border-radius: 2px;
}

.main-container .player-ships-container .orientation-container .orientation-btn:hover {
  cursor: pointer;
  /* background-color: #f4f4f4;
  color:rgb(38, 153, 192); */
}


/* Ships Displays */
.main-container .player-ships-container .ships-display {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.main-container .player-ships-container .ships-display .ship {
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: lightseagreen;
  margin: 0.2rem;
  border-radius: 2px;
  background: white;
}

.main-container .player-ships-container .ships-display .ship:hover {
  cursor: pointer;
  color: white;
  background: lightseagreen;
}

.main-container .player-ships-container .ships-display .ship.ship-selected {
  color: white;
  background: lightseagreen;
}


/* SHIP PLACEMENT ON BOARD */
.ship-placement-selected {
  background: slategray !important;
}

.player-miss {  
  background: white !important;
  /* border: 1px solid black; */
}

.player-hit {  
  background: rgb(255, 73, 73) !important;
  /* border: 1px solid black; */
}


/* Ships reset button */
.ships-all-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 280px;
  position: relative;
}

.ships-all-btns-container .reset-ships-btn {
  background: rgb(255, 73, 73);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  box-shadow: 2px 2px 7px;
}

.ships-all-btns-container .reset-ships-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.1s;
}

/* Reset game button */
.ships-all-btns-container .reset-game-btn {
  background: rgb(255, 73, 73);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  box-shadow: 2px 2px 7px;
  display: none;
}

.ships-all-btns-container .reset-game-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.1s;
}


/* START GAME BUTTONS/CONTAINER */
.start-game-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game-container .difficulty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-game-container .difficulty-container p {
  color: #f4f4f4;
  letter-spacing: 0.03rem;
  margin-bottom: 0.25rem;
}

.start-game-container .difficulty-container .difficulty-button-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 0.7rem;
}

.start-game-container .difficulty-container .difficulty-button-container div {
  height: 25px;
  width: 60px;
  padding-bottom: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
  color: lightseagreen;
  margin: 0.2rem;
  border-radius: 2px;
  background: white;
}

.start-game-container .difficulty-container .difficulty-button-container div:hover,
.start-game-container .difficulty-container .difficulty-button-container .difficulty-selected {
  cursor: pointer;
  background: lightseagreen;
  color: white;
}

.start-game-container .start-game-button {
  background: rgb(255, 73, 73);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  box-shadow: 2px 2px 7px;
}

.start-game-container .start-game-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.1s;
}


/* Previous shots container styles */
.player-ships-container .previous-shots-container {
  width: 90%;
  height: 95%;
  margin-bottom: 1.35rem;
  border: 1px solid #fff;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  overflow: auto;
}

.player-ships-container .previous-shots-container h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.player-ships-container .previous-shots-container .previous-shots-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
}

.player-ships-container .previous-shots-container .previous-shots-list p {
  line-height: 1rem;
  letter-spacing: 0.04rem;
}




/* PLAYER / COMPUTER COORDINATES */
.player-row.player-row-9 .player-col.player-col-0, 
.player-row.player-row-9 .player-col.player-col-1, 
.player-row.player-row-9 .player-col.player-col-2, 
.player-row.player-row-9 .player-col.player-col-3, 
.player-row.player-row-9 .player-col.player-col-4, 
.player-row.player-row-9 .player-col.player-col-5, 
.player-row.player-row-9 .player-col.player-col-6, 
.player-row.player-row-9 .player-col.player-col-7, 
.player-row.player-row-9 .player-col.player-col-8, 
.player-row.player-row-9 .player-col.player-col-9,
.computer-row.computer-row-9 .computer-col.computer-col-0, 
.computer-row.computer-row-9 .computer-col.computer-col-1, 
.computer-row.computer-row-9 .computer-col.computer-col-2, 
.computer-row.computer-row-9 .computer-col.computer-col-3, 
.computer-row.computer-row-9 .computer-col.computer-col-4, 
.computer-row.computer-row-9 .computer-col.computer-col-5, 
.computer-row.computer-row-9 .computer-col.computer-col-6, 
.computer-row.computer-row-9 .computer-col.computer-col-7, 
.computer-row.computer-row-9 .computer-col.computer-col-8, 
.computer-row.computer-row-9 .computer-col.computer-col-9 {
  position: relative;
}

.player-row.player-row-9 .coord-num,
.computer-row.computer-row-9 .coord-num {
  position: absolute;
  top: 30px;
  left: 9px;
  font-weight: 600;
}


.player-row.player-row-0 .player-col.player-col-0,
.player-row.player-row-1 .player-col.player-col-0,
.player-row.player-row-2 .player-col.player-col-0,
.player-row.player-row-3 .player-col.player-col-0,
.player-row.player-row-4 .player-col.player-col-0,
.player-row.player-row-5 .player-col.player-col-0,
.player-row.player-row-6 .player-col.player-col-0,
.player-row.player-row-7 .player-col.player-col-0,
.player-row.player-row-8 .player-col.player-col-0,
.player-row.player-row-9 .player-col.player-col-0,
.computer-row.computer-row-0 .computer-col.computer-col-0,
.computer-row.computer-row-1 .computer-col.computer-col-0,
.computer-row.computer-row-2 .computer-col.computer-col-0,
.computer-row.computer-row-3 .computer-col.computer-col-0,
.computer-row.computer-row-4 .computer-col.computer-col-0,
.computer-row.computer-row-5 .computer-col.computer-col-0,
.computer-row.computer-row-6 .computer-col.computer-col-0,
.computer-row.computer-row-7 .computer-col.computer-col-0,
.computer-row.computer-row-8 .computer-col.computer-col-0,
.computer-row.computer-row-9 .computer-col.computer-col-0 {
  position: relative;
}

.player-col.player-col-0 .coord-letter,
.computer-col.computer-col-0 .coord-letter {
  position: absolute;
  right: 36px;
  bottom: 5px;
  font-weight: 600;
}


/* Container for showing if ship has been sunk for player/computer */

.computer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ships-sunk-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 240px;
  width: 200px;
  box-shadow: 2px 2px 7px;
  background: #4e4e4e;
  font-size: 0.8rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin-bottom: 2rem;
}

.ships-sunk-container .computer-ships-sunk-container,
.ships-sunk-container .player-ships-sunk-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  color: white;
}

.ships-sunk-container p {
  text-decoration: underline;
  color: lightseagreen;
  font-weight: 500;
  font-size: 0.9rem;
}

.ships-sunk-container .computer-ships-sunk,
.ships-sunk-container .player-ships-sunk {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.07rem;
  font-weight: 600;
}

.ship-has-sunk {
  text-decoration: line-through;
  color: rgb(255, 73, 73);
}



/* DISPLAY TURN */
.notify-turn {
  position: absolute;
  top:-50px;
  font-size: 1rem;
  background: lightseagreen;
  color: white;
  padding: 0.4rem 0.6rem;
  box-shadow: 2px 2px 5px #333;
  border-radius: 4px;
  display: none;
}